body {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    background: black;
}

#navbar {
    padding: 1em 0 0 0;
    background: rgb(145, 145, 145);
    width: 100%;
}

#navToggle {
    display: none;
}

.navToggleLabel {
    position: absolute;
    margin-right: 1em;
    top: 0;
    right: 0;
    height: 5.7em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navToggleLabel span, .navToggleLabel span::before, .navToggleLabel span::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.navToggleLabel span::before, .navToggleLabel span::after {
    content: '';
    position: absolute;
}

.navToggleLabel span::before {
    top: 7px;
}

.navToggleLabel span::after {
    bottom: 7px;
}

#navbarGrid {
    transform: scale(1, 0);
    transform-origin: top;
}

.navToggle:checked ~ #navbarGrid {
    transform: scale(1, 1);
    display: grid;
    justify-items: center;
    transition: transform 250ms ease-in-out 120ms;
}

.navToggle:checked ~ .topNav a {
    opacity: 1;
}

.topNav {
    margin-right: 1em;
}

.topNav a {
    opacity: 0;
    transition: transform 100ms ease-in-out 100ms;
}

#navbar img {
    margin-left: 1em;
}

.navButtons {
    color: black;
    text-decoration: none;
    padding-bottom: 0.5em;
}

.navButtons:hover {
    color: rgb(255, 205, 41);
}

header {
    position: relative;
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom: 8.5em;
}

#banner {
    width: 100%;
    padding: 1em 0 1em 0;
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: 17em 17em 17em 17em;
    overflow: hidden;
    grid-gap: 0.2em 0.2em;
    z-index: -1;
    background-color: rgb(255, 255, 255);
}

header h1 {
    display: grid;
    justify-items: center;
    font-weight: lighter;
    width: 100%;
    margin-top: 2.5em;
    padding: 0.5em;
    color: rgb(255, 205, 41);
    text-shadow: 1px 1px 1px rgb(255, 84, 84);
    background-color: rgba(0, 0, 0, 0.815);
    animation-name: bannerFade5;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

header h1 span {
    font-size: 0.7em;
}

.pictures {
    height: 14em;
    width: 17em;
}

#pic1 {
    animation-name: bannerFade1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#pic2 {
    animation-name: bannerFade2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#pic3 {
    animation-name: bannerFade3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#pic4 {
    animation-name: bannerFade4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#contactButton {
    background: rgb(255, 205, 41);
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    margin: 0 auto;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    display: grid;
    border-radius: 1em;
}

#contactButton:hover {
    animation-name: resize;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.topSection {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

#aboutSection {
    font-family: 'Roboto Slab', serif;
    max-width: 700px;
    margin-left: 1em;
    background: rgb(255, 205, 41);
    padding: 1em;
    border-radius: 1em;
    font-size: 1.2em;
    grid-area: 1 / 1 / 2 / 2;
}

#aboutSection p span {
    font-weight: bold;
}

#reviewSection {
    margin: 0 auto;
    max-width: 700px;
    background: rgb(255, 205, 41);
    padding: 1em;
    border-radius: 1em;
    font-size: 1.2em;
    grid-area: 2 / 2 / 3 / 3;
}

#reviewSection p {
    font-family: 'Roboto Slab', serif;
}
#reviewSection p span {
    font-family: 'Pacifico', cursive;
}

@media (max-width: 720px) {
    .pictures {
        height: 6.5em;
        width: 8.5em;
    }
    
    #banner {
        grid-template-columns: 9em 9em;
    }

    header h1 {
        font-size: 1.3em;
    }

    .topSection {
        grid-template-columns: 1fr;
    }

    #aboutSection {
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        border-radius: 0;
    }

    #reviewSection {
        margin-top: 1em;
        grid-area: 2 / 1 / 3 / 2;
        border-radius: 0;
    }

    #aboutSection, #reviewSection {
        font-size: 1em;
        max-width: 100%;
    }
}

@keyframes resize {
    0% {
        font-size: 1em;
    }

    100% {
        font-size: 1.5em;
    }
}

@keyframes bannerFade1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade4 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade5 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}