body {
    margin: 0 auto;
}

#navbar {
    padding: 1em 0 1em 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

#topnav {
    overflow: hidden;
}

#navbarGrid {
    display: grid;
    grid-gap: 1em 7em;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
}

#navbar img {
    padding-left: 1em;
}

.navButtons {
    color: black;
    text-decoration: none;
}

.navButtons:hover {

}

header {
    position: relative;
    display: grid;
    width: 100%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
}

#banner {
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: 17em 17em 17em 17em;
    grid-gap: 0.2em 0.2em;
    z-index: -1;
}

header h1 {
    width: 100%;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px black;
    
}

header h1 span {
    font-size: 0.7em;
}

.pictures {
    height: 14em;
    width: 17em;
}

@media (max-width: 720px) {
    .pictures {
        height: 7em;
        width: 9em;
    }
    
    #banner {
        grid-template-columns: 9em 9em;
    }
}