body {
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    background: black;
}

#navbar {
    padding: 1em 0 1em 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    background: rgb(145, 145, 145);
}

#navbarGrid {
    display: grid;
    grid-gap: 1em 7em;
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
}

#navbar img {
    margin-left: 1em;
}

.navButtons {
    color: black;
    text-decoration: none;
}

.navButtons:hover {
    color: rgb(255, 205, 41);
}

header {
    position: relative;
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom: 5.5em;
}

#banner {
    width: 100%;
    padding: 1em 0 1em 0;
    position: absolute;
    display: grid;
    justify-content: center;
    grid-template-columns: 17em 17em 17em 17em;
    overflow: hidden;
    grid-gap: 0.2em 0.2em;
    z-index: -1;
    background-color: rgb(255, 255, 255);
}

header h1 {
    display: grid;
    justify-items: center;
    font-weight: lighter;
    width: 100%;
    margin-top: 2.5em;
    padding: 0.5em;
    color: rgb(255, 205, 41);
    text-shadow: 1px 1px 1px rgb(255, 84, 84);
    background-color: rgba(0, 0, 0, 0.815);
    animation-name: bannerFade5;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

header h1 span {
    font-size: 0.7em;
}

.pictures {
    height: 14em;
    width: 17em;
}

#pic1 {
    animation-name: bannerFade1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#pic2 {
    animation-name: bannerFade2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#pic3 {
    animation-name: bannerFade3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#pic4 {
    animation-name: bannerFade4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#aboutSection {
    font-family: 'Roboto Slab', serif;
    max-width: 700px;
    background: rgb(255, 205, 41);
    padding: 1em;
    border-radius: 0 1em 1em 0;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: max-width 700px;
}

#aboutSection p span {
    font-weight: bold;
}

#reviewSection {
    margin-top: 1em;
    max-width: 700px;
    background: rgb(255, 205, 41);
    background-position: right center;
    padding: 1em;
    border-radius: 0 1em 1em 0;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: max-width 700px;
}

#reviewSection p {
    font-family: 'Roboto Slab', serif;
}
#reviewSection p span {
    font-family: 'Pacifico', cursive;
}

@media (max-width: 720px) {
    .pictures {
        height: 7em;
        width: 9em;
    }
    
    #banner {
        grid-template-columns: 9em 9em;
    }

    header h1 {
        font-size: 1.6em;
    }
}

@keyframes bannerFade1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade3 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade4 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bannerFade5 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}